$themeColor:#7444FD;//主题色
$btnBg:#8862F5;//按钮背景
$textSize:16px;//导航字体尺寸
$contentSize:20px;//主体内容尺寸
$btnSize:18px;//按钮字体尺寸
$bigSize:48px;//广告词尺寸
$btnRadiius:28px;//按钮圆角
$evenBg:#F5F6FA;//隔行背景
$bigTwoSize:36px;//标题尺寸
$titleSize2:24px;//副标题尺寸
$maskColor:#666;//文本颜色
$titleColor:#2a2a2a;//标题颜色
$remarkColor:#4d4d4d;//副标题颜色
$contentRadius:12px;//内容圆角
$iconColor:#ccc;//图标颜色
$iconSize:16px;//图标尺寸
$firstColor:#F5A623;//会员背景色
$firstBg:#FFF9F0;//个人中心会员等级背景色
$lineColor:#ddd;//隔行线背景色
$mineIconColor:#999;//个人中心ICON颜色
$successColor:#00CC29;//成功颜色
$unColor:#FF441F;//失败颜色
$iconBg:#C5CBE0;//ICON背景色
$borderColor:#EFEFEF;//边框颜色
$hoverColor:#FCFDFF;//高亮状态
$shadow:0px 6px 10px rgba(116, 68, 253, 0.16);
//Mobile
$padd24:.64rem;//24px
$padd12:.32rem;//12px
$iconMobile:.54rem;//20px
$padd28:.75rem;//28px
$font24:.64rem;//font-24px
$font20:.54rem;//font-20px
$font14:.38rem;//font-14px
$font16:.43rem;//font-16px
$font18:.48rem;//font-18px
$padd60:1.62rem;//60px
$padd56:1.5rem;//56px
$padd16:.43rem;//16px
$padd36:.94rem;//36px
$padd48:1.3rem;//48px
$btnwidth:5rem;//180px
$btnheight:1.3rem;//48px
$w236:6.4rem;//236px
$h50:1.35rem;//50px
$padd80:2.16rem;//80px
$h460:12.4rem;//460px
$h194:5.24rem;//194px
$padd32:.86rem;//32px
